# Archivos de entorno
.env.local
.env.development.local
.env.test.local
.env.production.local


node_modules/
.next/
out/
build/
.env
.vercel
.env*.local

# Dependencias
node_modules/
.next/
.env
.env.local
.DS_Store
*.log